<!-- Footer -->
<section class="footer" id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/">Home</a></li>
                    <li><a class="footer-link" href="/tshirt">T-Shirt</a></li>
                    <li><a href="/belt">Belt</a></li>
                    <li><a href="/shoes">Shoes</a></li>
                    <li><a href="/wallet">Wallet</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/mohsingram">Facebook</a></li>
                    <li><a href="https://www.youtube.com/mohsingram">Instagram</a></li>
                    <li><a href="">Pinterest</a> </li>
                    <li><a href="">Tiktok</a> </li>
                    <li> <a href="">Twitter</a> </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <h5>Help & Support</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="">Contact</a></li>
                    <li><a href="javascript:void();">FAQ</a></li>
                    <li><a href="">Delivery</a></li>
                    <li><a href="">Returns</a></li>
                    <li><a href="">Size Guide</a> </li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 " >
                <form class=" footerNewsletterForm needsclick " data-testid="klaviyo-form-Syr5gx" novalidate="" tabindex="-1" style="display: flex; flex-direction: row; box-sizing: border-box; width: 100%; overflow: visible; margin: 0px auto; border-radius: 0px; border-style: none; border-width: 0px; border-color: rgb(0, 0, 0); background-color: rgba(255, 233, 227, 0.02); background-repeat: no-repeat; background-position-y: 50%; padding: 10px; flex: 1 1 0%;">
        <div class="needsclick  " style="display: flex; flex-direction: column; width: 100%; margin: 0px; padding: 0px; min-height: 300px; justify-content: center;">
            <div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;">
                <div data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 6px; position: relative; flex: 1 0 0px;">
                    <div class="" style="width: 100%;">
                        <p class="newsletter-title">JOIN OUR MAILING LIST</p>
                        <p class="news-description">
                            Stay up to date with new arrivals, stylist's picks, latest trends, exclusive sales, and new stories on our blog - the Girl Guide.
                            <br>
                            Plus you'll get 10% off your first order!
                        </p>
                    </div>
                </div>
            </div>
            <div data-testid="form-row" class="needsclick  " style="display: flex; flex-direction: row; align-items: stretch; position: relative;">
                <div  data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 5px 5px 5px 0px; position: relative; flex: 1 0 0px;">
                    <div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;">
                        <input  id="email_31002863" class="needsclick footer-input" type="email" autocomplete="email" name="email" tabindex="0" placeholder="EMAIL ADDRESS:" aria-label="EMAIL ADDRESS:" aria-invalid="false">

                    </div>
                </div>
                <div   class="needsclick  " style="display: flex; justify-content: flex-start; padding: 5px 0px; position: relative; flex: 0 1 auto; margin: 0px auto;">

                    <button class="needsclick sub-button " type="button" tabindex="0" >SUBSCRIBE</button>
                </div></div></div><input type="submit" tabindex="-1" value="Submit" style="display: none;"></form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="" target=""> RAY</a> &copy All
                    right Reversed.</p>
            </div>

        </div>

    </div>

</section>
<!-- ./Footer -->
